{% include "style_atas.html" %}
  <div class="main-panel">        
        <div class="content-wrapper">
            <div class="row ">
              <div class="col-xl-12 grid-margin stretch-card flex-column">
               <h5 class="mb-2 text-titlecase mb-4"><i class="fa fa-file"></i> Form Tabel Data Pelanggan</h5>               
                <div class="card ">         
                
                  <div class="card-body">
                     {% if messages %}
                     {% for info in messages %}
                     <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <i class="icofont icofont-close-line-circled"></i>
                        </button>
                        <strong>Success!</strong> {{info}} 
                     </div>

                     {% endfor %}
                     {% endif %}
                     <div class="table-responsive">
                        <table id="datatable" class="table data-table table-bordered table-striped">
                        <thead class="table-info">
                           <tr>
                              <th>No</th>
                              <th class="text-center">No-KTP</th>
                              <th>Nama Lengkap</th>
                              <th>Alamat</th>
                              <th>No-HP</th>
                              <th>JK</th>
                              <th>E-Mail</th>
                              <th>Username</th>
                              <th>Password</th>
                              <th>Aksi</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for tampil in Tampil %}
                           <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{tampil.noktp}}</td>
                              <td>{{tampil.nama_lengkap}}</td>
                              <td>{{tampil.alamat}}</td>
                              <td>{{tampil.nohp}}</td>
                              <td>{{tampil.jk}}</td>
                              <td>{{tampil.email}}</td>
                              <td>{{tampil.username}}</td>
                              <td>{{tampil.password}}</td>
                              <td class="text-center">
                                 <a href="{% url 'edit_jenis' tampil.id %}" class="btn btn-sm hor-grd btn-primary" onclick="return confirm('Apakah Anda Yakin Ingin Mengedit Data')">
                                    <i class="fa fa-edit"></i></a>
                                    <!-- -------------------- -->
                                    <a href="{% url 'hapus_pelanggan' tampil.id %}" class="btn btn-sm hor-grd btn-danger" onclick="return confirm('Apakah Anda Yakin Ingin Menghapus Data')">
                                       <i class="fa fa-trash"></i></a>
                                    </td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% include "style_bawah.html" %}