@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
h3 {
        font-weight: 500;
}
.container {
    font-family: 'Roboto', Arial, Sans-serif;
    font-size: 16px;
    font-weight: 400;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 5%)
}
.group {
    display: block;
    margin-bottom: 1.5em
}
label {
    display: block;
    margin-bottom: .5em
}
input {
    border: 2px solid #ddd;
    border-radius:4px;
    font-family: 'Roboto', Arial, Sans-serif;
    font-size: 16px;
    outline: none;
    padding: .5em 1em;
}