{% include "style_atas.html" %}
  <div class="main-panel">        
        <div class="content-wrapper">
            <div class="row ">
              <div class="col-xl-12 grid-margin stretch-card flex-column">
               <h5 class="mb-2 text-titlecase mb-4"><i class="fa fa-file"></i> Form Tabel Data Pemesanan Kambing</h5>               
                <div class="card ">         
                  <div class="card-body">
                     {% if messages %}
                     {% for info in messages %}
                     <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <i class="icofont icofont-close-line-circled"></i>
                        </button>
                        <strong>Success!</strong> {{info}} 
                     </div>

                     {% endfor %}
                     {% endif %}
                     <div class="table-responsive">
                        <table id="datatable" class="table data-table table-bordered table-striped">
                        <thead class="table-info">
                           <tr>
                              <th>No</th>
                              <th>Proses Pengiriman</th>
                              <th>No-KTP</th>
                              <th>Pelanggan</th>
                              <th>Alamat</th>
                              <th class="text-center">Jenis</th>
                              <th>Harga</th>
                              <th>Jumlah Pesanan</th>
                              <th>Total</th>
                              <th>Tgl Pesan</th>
                              <th>Status</th>
                              <th>Aksi</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for tampil in Tampil %}
                           <tr>
                              <td>{{forloop.counter}}</td>
                              <td class="text-center">
                                 <a href="#" data-toggle="modal" data-target="#bs-example-modal-lg{{tampil.id}}" class="btn btn-sm hor-grd btn-info">
                                    <i class="fa fa-file"></i> Proses Pengiriman</a>
                              </td>
                              <td>{{tampil.noktp}}</td>
                              <td>{{tampil.nama_lengkap}}</td>
                              <td>{{tampil.alamat}}</td>
                              <td>{{tampil.jenis}}</td>
                              <td><small>Rp.</small><b class="uang">{{tampil.harga}}</b></td>
                              <td>{{tampil.jumlah}}</td>
                              <td><small>Rp.</small><b class="uang">{{tampil.total}}</b></td>
                              <td>{{tampil.tgl_pesanan}}</td>
                              <td>{{tampil.status}}
                                 <form method="post" action="{% url 'Data_pembayaran' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="cari" value="{{tampil.noktp}}">
                                  <button type="submit" class="btn btn-sm hor-grd btn-info" title="Check Sekarang">
                                    <i class="fa fa-check"></i></button>
                                 </form>
                              </td>
                              <td class="text-center">
                                    <a href="{% url 'Hapus_dt_pemesanan' tampil.id %}" class="btn btn-sm hor-grd btn-danger" onclick="return confirm('Apakah Anda Yakin Ingin Menghapus Data')">
                                       <i class="fa fa-trash"></i></a>
                                    </td>
                                 </tr>
                                 {% include "Master_data/data_pengiriman/tambah.html" %} 
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% include "style_bawah.html" %}