{% include "style_atas.html" %}
<div class="main-panel">
          <div class="content-wrapper">
         <div class="row">
            <div class="col-sm-12 col-lg-8">
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title"><i class="fa fa-file-o"></i> EDIT DATA KAMBING</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <form class="needs-validation" novalidate method="post">
                        {% csrf_token %}
                        <div class="form-row">
                           <div class="col-md-6 mb-3">
                              <label for="validationCustom01">Usia </label>
                              <input type="text" class="form-control" id="validationCustom01"  required name="usia" placeholder="Masukkan Usia Kambing" value="{{edit_data.usia}}">
                              <div class="valid-feedback">
                                 Usia Kambing Harus Di Isi
                              </div>
                           </div>
                           <div class="col-md-6 mb-3">
                              <label for="validationCustom01">Pilih Jenis Kambing</label>
                              <select class="form-control" required name="jenis">
                                 <option>{{edit_data.jenis}}</option>
                                 <optgroup label="Pilih Jenis">
                                    <option value="">---------</option>
                                    {% for select in select_jenis %}
                                    <option>{{select.jenis}}</option>
                                    {% endfor %}
                                 </optgroup>
                              </select>
                              <div class="valid-feedback">
                                 Jenis Kambing Harus Di Isi
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="validationCustom01">Tinggi <b><small>(Cm)</small></b></label>
                              <input type="text" class="form-control" id="validationCustom01"  required name="tinggi" placeholder="Masukkan Tinggi Kambing" value="{{edit_data.tinggi}}">
                              <div class="valid-feedback">
                                 Tinggi Kambing Harus Di Isi
                              </div>
                           </div>
                           <div class="col-md-6 mb-3">
                              <label for="validationCustom01">Stock</label>
                              <input type="number" class="form-control" id="validationCustom01"  required name="stock" placeholder="Masukkan Stock" value="{{edit_data.stock}}">
                              <div class="valid-feedback">
                                 Stock Harus Di Isi
                              </div>
                           </div>
                           <div class="col-md-6 mb-3">
                              <label for="validationCustom01">Harga Di Jual</label>
                              <input type="number" class="form-control" id="validationCustom01"  required name="harga" placeholder="Masukkan Harga" value="{{edit_data.harga}}">
                              <div class="valid-feedback">
                                 Harga Harus Di Isi
                              </div>
                           </div>
                          
                           <div class="col-md-12 mb-3">
                              <label for="validationCustom01">Keterangan Kambing</label>
                              <textarea class="form-control" rows="5" name="keterangan" placeholder="Isi Keterangan Kambing">{{edit_data.keterangan}}</textarea>
                              <div class="valid-feedback">
                                 Keterangan Kambing Harus Di Isi
                              </div>
                           </div>
                           <div class="col-md-6 mb-3">
                              <label for="validationCustom01">Status Kambing</label><br>
                              <label><input type="radio" name="status" value="Jantan" {% if edit_data.status == "Jantan" %}checked="checked"{% endif %}> <b>Jantan</b></label><br>
                              <label><input type="radio" name="status" value="Betina" {% if edit_data.status == "Betina" %}checked="checked"{% endif %}> <b>Betina</b></label>
                              <div class="valid-feedback">
                                 Status Harus Di Isi
                              </div>
                           </div>
                           

                        </div>
                        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Submit</button>
                        <a href="{% url 'Kambing' %}" class="btn btn-warning"><i class="fa fa-close"></i> Kembali</a>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% include "style_bawah.html" %}